*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.wrap{
  width: 100%;
  height: 100vh;
}

main{ 
  height: calc(100% - 70px);
  width: 100%;
}

nav{
  float: left;
  width: 250px;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.main-content{
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  background-color: #141922;
  overflow: auto;
}

.banner-top{
  position: fixed;
  width: calc(100% - 200px); 
  height: 100px;
  background-color: rgba(0, 0, 0, .35);
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 888;
  overflow: hidden;
}

footer{
  float: inline-end;
  height: 70px;
  width: 100%;
  background-color: #282828;
  z-index: 999;
}


/*************** ///GLOBAL ***************/
/****************** MAIN *****************/

.logo-small{
  position: absolute;
  width: 25px;
  transform: translate(0, 5px);
  display: none;
}

.upgrade a{
  padding: 10px 35px;
  margin-right: 100px;
  text-decoration: none;
  font-weight: 700;
  border: white solid 3px;
  color: white;
  border-radius: 25px;
  text-transform: uppercase;
}

.upgrade:hover{
  transform: scale(105%);
}

/****************** NAV BAR *****************/

.logo{
  height: 100px;
  width: 100%;
}

.logo svg{
  margin-top: 20px;
  text-align: center;
}

.nav-btn, .logo{
  width: 200px;
  margin: 0 auto;
}

.nav-btn{
  height: 130px;
  /* margin-bottom: 10px; */
  /* line-height: 20px; */
}

.nav-btn-flex li a{
  color: #767676;
}

.nav-btn svg{
  width: 20px;
  vertical-align: middle;
  color: #797979;
}

.user svg{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #A3A3A3;
  border-radius: 50%; 
}

.macro-nav{
  line-height: 25px;
}

.macro-nav svg{
  width: 25px;
  vertical-align: middle;
}

.macro-playlist{
  height: calc(100% - 200px);
  min-height: 200px;
  overflow: hidden;
}

.playlist h3{
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 15px;
}

.add-playlist{
  line-height: 40px;
  vertical-align: middle;
}

#plus-btn{
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #A3A3A3;
  text-align: center;
  color: black;
}

.list{
  height: 34vh;
  min-height: 130px;
  overflow: auto;
}

.nav-btn-flex ul{
  margin-top: 30px;
  line-height: 40px;
  margin-bottom: 50px;
}

.install-btn{
  border-bottom: 2px solid #494949;
  padding: 10px 0;
}


.user{
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  padding-left: 5px;
  font-weight: 600;
}

/************* START CONTENT ***************/

.menu{
  padding-top: 100px;
  margin-left: 30px;
}

.menu ul{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

}

.menu ul li a{
  display: inline-block;
  /* margin: 20px; */
  text-transform: uppercase;
  color: #7B7D82;
  font-weight: 600;
  font-size: 12px;
}

.macro-nav ul li a, .macro-nav ul li {
  color: #797979;
}

.menu ul li:hover a{
  color: white;
}
/***************** ROWS **************/

.title{ 
  margin: 30px;
}

.subjet{
  width: 15%;
  margin-right: 20px;
}

.img-song img, .img-song{
  width: 100%;
  position: relative;
}

.row{
  display: flex;
  margin: 0 30px;
}

.overlay-img i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.overlay-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
}

.img-song:hover .overlay-img{
  visibility: visible;
}

.song-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.song-name span{
  line-height: 35px;
  font-size: 14px;
  color: #7B7D82;
}

.title span{
  line-height: 35px;
  color: #7B7D82;
  margin-bottom: 50px;
}

.artist{
  border-radius: 50%;
}

.song-name:hover{
  cursor: pointer;
}

/************ FOOTER ************/

.flex-footer{
  display: flex;
  justify-content: space-between;
}

.left-foot{
  display: flex;
  align-items: center;
  width: 230px;
  height: 70%;
  margin: auto 0;
  justify-content: space-around;
  margin-left: 10px;
}

.img-foot{
  height: 100%;
}

.name-song-foot{
  font-size: 12px;
  /* margin-right: 30px;
  margin-left: 15px; */
  line-height: 14px;
}

.left-foot img{
  height: 100%; 
  margin-right: 5px;
}

.center-foot{
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.right-foot{
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

/********* /////////general footer ***********/
/************** LEFT FOOTER ******************/

.name-song-foot span, .left-foot div i{
  color: #858585;
}

.name-song-foot:hover span, .left-foot div i{
  cursor: pointer;
}

/********** /////////LEFT FOOTER **************/

.center-foot i{
  font-size: 20px;
  margin: 0 10px;
}

.selectors .far.fa-play-circle{
  font-size: 25px;
}

.timing{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content:space-around;
  font-size: 10px;
  font-weight: 600;
}

.timing .total-song{
  position: relative;
  width: 80%;
  height: 6px;
  background-color: #5B5B5B ;
  border-radius: 5px;
}

.total-song .right-time{
  width: 10%;
  height: 100%;
  background-color: #C5C5C5;
  border-radius: 3px;
}

.right-time{
  position: relative;
}

.total-song .circle{
  top: -4px;
  right: -3px;
  visibility: hidden;
}

.total-song:hover .right-time{
  background-color: #70b137;
}

.total-song:hover .circle{
  visibility: visible;
}

/* //////////CENTER FOOT */
/* RIGHT FOOT */

.volume{
  position: relative;
  width: 50%;
  height: 6px;
  border-radius: 3px;
  background-color: #4F4F4F;
  margin-right: 10px;
}

.actual-volume{
  width: 30px;
  height: 100%;
  background-color: #C1C1C1;
  border-radius: 3px;
}

.volume .circle{
  top: -4px;
  left: 20px;
  visibility: hidden;
}

.right-foot i{
  /* margin: 0 10px; */
}

.volume:hover .actual-volume{
  background-color: #70b137;
}

.volume:hover .circle{
  visibility: visible;
}

/************** GENERAL HOVER ***************/

ul li:hover a {
  color: white;
}

/************** RESPONSIVE ******************/

@media screen and (max-height:170px){
  .flex-footer{
    position: fixed;
  }
}

@media screen and (max-width:1199px){
  .row{
    flex-wrap: wrap;
  }
  .subjet{
    width: 18%;
  }
  .menu ul{
    flex-wrap: wrap;
  }
}

@media screen and (max-width:767px){
  .subjet{
    width: 40%;
  }
   .subjet:nth-of-type(5), .subjet:nth-of-type(6){
    display: none;
  }
  .right-foot{
    width: 25%;
  }
  .left-foot{
    width: 20%;
  }

}

@media screen and (max-width:575px){
   .subjet:nth-of-type(3), .subjet:nth-of-type(4){
    display: none;
  }
  
  .upgrade a{
    margin: 2px;
    font-size: 12px;
  }

  nav{
    width: 35px;
    padding: 0 px;
    padding-left: 5px;
  }
  .main-content, .banner-top{
    width: calc(100% - 35px);
  }

  .menu ul{
    width: 100%;
  }

  .subjet{
    width: 42%;
  }
    
  .logo svg, .playlist, .install-btn a{
    display: none;
  }

  .install-btn{
    border: none;
  }

  .install-btn svg{
    position: relative;
    transform: translate(2px, 8px);
    border: none;
  }

  .user svg{
    position: relative;
    transform: translate(-5px ,0);
  }

  .left-foot i, .right-foot i{
    font-size: 10px;
  }

  .logo-small{display: block;
  }
}
